body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.section-title {
  position: relative;
  margin-top: 10vh;
  padding-bottom: 34px;
}
.section-title .title {
  margin-bottom: 0;
  font-size: 40px;
  font-family: Aquire;
  display: inline-block;
  color: rgb(6,6,62);
}
.section-title.style-two {
  padding-bottom: 15px;
  margin-bottom: 45px;
  border-bottom: 1px solid #b3b3b3;
}
.section-title.style-white .title {
  color: #fff;
}
.section-title.style-white p {
  color: #fff;
}
.section-title.style-white .btn-read-more {
  color: #fff;
}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.grid-container div {
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div:hover img {
  filter: grayscale(0);
}
.grid-container div:hover {
  border-color: rgb(6, 6, 110);
}
.grid-container div img {
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}
.grid-container div p {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}