@import url('http://fonts.cdnfonts.com/css/aquire');

html,
body {
    overflow-x: hidden;
}

a{
    color: #000000;
}
.header{
    font-weight: 600;
    font-size: 2.1em;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
a:hover {
    color: rgb(3, 3, 101);
    text-decoration: none;
    cursor: pointer;
}
#logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.5s ease-in;
  }
  
  #logo:hover {
    filter: hue-rotate(180deg);
  }
.relative{
    size: 110%;
    height: auto;
    border-radius: 10% !important;
}
.pic {
    opacity: 0.9;
    display: block;
    width: 100%;
    transition: .5s ease;
    border-radius: 10% !important;
    backface-visibility: hidden;
  }
.relative:hover .pic{
    opacity: 1;
}

.block {
    display: block;
    margin: 5px 0px;
}

.btn-primary {
    color: #fff;
    background-color: #F26F1E;
    border-color: #F26F1E;
}

.btn-outline-primary {
    color: #F26F1E;
    background-color: transparent;
    background-image: none;
    border-color: #F26F1E;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary:hover {
    background-color: #F26F1E !important;
    border-color: #F26F1E;
}
.navbar-light .navbar-brand.txt-white,
.navbar-light .navbar-nav .nav-link.txt-white {
    color: rgba(255, 255, 255, 0.9);
}

nav#mynav:not(.bg-white) ul{
    padding: 0 50px;
    background-color: rgba(0,0,0,0.5);
    /* border-radius: 20px; */
    transform: skewX(-10deg);
}

nav#mynav:not(.bg-white) li {
    transform: skewX(10deg);
}

nav#mynav:not(.bg-white) li a {
    color: white;
}

.whiteout {
    color: rgba(255,255,255,.9);
}

.btn-platinum {
    color: #fff;
    background-color: #e5e4e2;
    border-color: #e5e4e2;
}

.btn-gold {
    color: #fff;
    background-color: #FFDF00;
    border-color: #FFDF00;
}

.btn-silver {
    color: #fff;
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}

.btn-bronze {
    color: #fff;
    background-color: #C9AE5D;
    border-color: #C9AE5D;
}

.badge-gold {
    color: #212529;
    background-color: #FFDF00;
}

.badge-silver {
    color: #212529;
    background-color: #C0C0C0;
}

.badge-bronze {
    color: #212529;
    background-color: #C9AE5D;
}

span.badge-pill {
    margin-right:20px;
}

.empty-badge {
    padding-left: 75px;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}


h1,h2,h3,h4,h5 {
    font-family: 'Aquire', sans-serif !important;
    font-weight: bold;
    color: rgb(6,6,62);
}
.title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
nav {
    font-weight: bold;
    font-family: Bebas-neue;
    font-size: 4vh;
}

.navbar-brand{
    font-family: 'Aquire', sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.1em;
    font-style: italic;
    line-height: 0.9;
}

div.pages{
    /* overflow-y: auto;
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;
    -webkit-scroll-snap-points-y: repeat(100%);
    scroll-snap-points-y: repeat(100%); */
    position: relative;
}

div.page{
    min-height: 100vh;
    width:  100vw;
    overflow: hidden;
}
div.page-about{
    width:  100vw;
    overflow: hidden;
}

div.halfpage{
    min-height: 50vh;
    width:  100vw;
    padding: 50px 50px;
    padding-top: 106px;
    overflow: hidden;
}



div#main.page{ 
    /* background: url(../images/home.jpg) no-repeat center center fixed; */
    background-size: cover;
    position: relative;
}

div#news.page{
    overflow-x: scroll;
}

div#chevrondown {
    position: absolute;
    bottom: 50px;
    left: 50%;
    background: url(../images/chevron-bottom.png) no-repeat center center ;
    height: 24px;
    width: 24px;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
    /* width: 16px; */
}

div#team.page{
    background: url(../images/Tile2.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
}

div.navbar-ghost {
    height: 56px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0%;
    left: 0%;
}

div.card-header,
h5.modal-title  {
    font-weight: 700;
    font-family: Bebas-neue;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

.d-flex {
    height: 100px;
}

div.card {
    margin: 10px;
    width: 300px;
}

div.modal-body {
    padding: 30px;
}

div#tiles {
    display: flex;
    flex-flow: column wrap;
    max-height: calc(100vh - 120px);
    align-items: flex-start;
    align-content: flex-start;
}

img.card-img-top {
    margin-bottom:16px;
}

div.mainbkg,
div.riotracing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

div.mainbkg:nth-of-type(1) {
    background: url(../images/home.jfif) no-repeat center center fixed;
    background-size: cover;
    z-index: 0;
    opacity: 90%;
}

/* div.mainbkg:nth-of-type(3) {
    background: url(../images/bajacartop.png) no-repeat center center fixed;
    background-size: cover;
    z-index: 5;
} */

div.riotracing {
    width: 40%;
    height: 50%;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: url(../images/1661361117212.png) no-repeat center center ;
    background-size: contain;
    z-index: 1;
}


div#car {
    background: url(../images/testBajaCar.jpg) no-repeat top center;
    background-size: contain;
    margin-top: 60px;
    width: 100vw;
    height: 100%;
    position: relative;
}

div.partshowcase.page {
    padding: 0;
}
.about{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}
div.partshowcase .row{
    height: 100vh;
}

div.partshowcase .row div {
    padding-top: 106px;
}

div.partshowcase .col-md-8{
    background-color: #141414;
    color: white;
    -webkit-box-shadow: 11px 0px 39px -8px rgba(0,0,0,0.73);
    -moz-box-shadow: 11px 0px 39px -8px rgba(0,0,0,0.73);
    box-shadow: 11px 0px 39px -8px rgba(0,0,0,0.73);
}

div.partshowcase .title{ 
    text-align: right;
    letter-spacing: 0.08em;
    /* font-family: Helvetica-neue; */

}

div#results button {
    margin: 2vh 1vw 2vh 1vw;
}

.col-12 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}
div.sponsortier > img {
    max-width: 30%;
    margin: 10px;
}

div.arrow {
    background: url(../images/chevron-right.png) no-repeat center center;
    background-size: auto;
}

div#mteam {
    min-height: 0px;
}

div#accordion .card-body, 
.list-group-flush{
    padding: 0px;
}

div#accordion .card {
    width: auto;
    margin: 10px 0px;
    margin-left: 90px;
}

div#showresult img {
    width: 100%;
    float: left;
    margin-bottom: 25px;
}

#showresult h2 {
    float: left;
    margin-top: 50px;
    font-size: 3em;
    /* font-style: italic; */
    font-weight: bold;
    margin-left: -30px;
    margin-right: -40px;
    font-family: 'Aquire', sans-serif !important;
}

#showresult h4 {
    clear: both;
    margin-top: 25px;
}



span.dropdown {
    width: 10px;
    height: 24px;
    background: url(../images/chevron-bottom-sm.png) no-repeat center center;
    float: right;
}

div#aboutavi.page {
    position: relative;
}
div#aboutvit.page {
    position: relative;
}

div#aboutavi img {
    position: relative;
    right: 0%;
    top: 0%;
    height: 85vh;
    /* shape-outside: polygon(50% 9%,56% 26%,57% 42%,61% 46%,61% 54%,60% 57%,99% 81%,99% 99%,84% 99%,82% 93%,68% 91%,62% 88%,61% 81%,65% 68%,54% 62%,12% 61%,5% 58%,5% 49%,8% 43%,8% 36%,10% 36%,13% 32%,19% 29%,23% 11%); */
    z-index: 0;
    /* float: right; */
}
.cart{
    height: 90vh;
    z-index: -1;
}
div#aboutvit img {
    position: relative;
    left: 0%;
    top: 20%;
    height: 50%;
    /* shape-outside: polygon(50% 9%,56% 26%,57% 42%,61% 46%,61% 54%,60% 57%,99% 81%,99% 99%,84% 99%,82% 93%,68% 91%,62% 88%,61% 81%,65% 68%,54% 62%,12% 61%,5% 58%,5% 49%,8% 43%,8% 36%,10% 36%,13% 32%,19% 29%,23% 11%); */
    z-index: 0;
    /* float: right; */
}
.vit{
   
}
body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: cubic-bezier(1, 0.86, 0.5, 0.18);;
}
.rotate {
    transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}


  .faculty{
    margin-top: 4vh;
      display: flex;
      justify-content: space-around;
      align-content: flex-start;
      flex-wrap: wrap;
  }

div#about .bkgtxt {

}

p {
    line-height: 1.75;
}

div#gallery-hex h1.year {
    position: fixed;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.08em;
    font-style: italic;
    margin-left: -30px;
    margin-right: -50px;
}

div#gallery .col-6 {
    position: relative;
    padding: 0;
}
div#gallery .col-6 div{
    width: 100%;
    height: 100%;
}

div#gallery .col-6 h2{
    position: absolute;
    color: rgb(6,6,62);
    Top: 75px;
    left: 0%;
    /* width: 100%; */
    /* text-align: center; */
    z-index: 0;
    text-shadow: 0 0 3px rgb(203, 223, 252);
}

div#gallery .col-6:hover {
    /* border: 2px solid black; */
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.5),0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 2;
}

div.team-hex {
    position: relative;
}

div.team-hex h1.group {
    top: 80%;
    position: absolute;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.08em;
    font-style: italic;
    left: 7%;
    font-size: 25px;
    color: rgb(6,6,62);
}

div.team-hex hr {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    margin: 0% 10vw;
}

@keyframes pulse {
    0%   {opacity: 1; transform: translateY(-20px); }
    25%  {opacity: 0.5; transform: translateY(-5px);}
    50%  {opacity: 0.25;}
    75%  {opacity: 0.5; transform: translateY(-5px);}
    100% {opacity: 1; transform: translateY(-20px);}
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    div#sponsors.page .container-fluid, div#sponsors.page .container-fluid .row{
        width: calc(200vw - 100px);
        padding-right:30px;
    }

    div#sponsors.page {
        overflow: scroll;
        min-height: 0px;
    }

    div#sponsors .col-md-4,
    div#results .col-md-4,
    div.col-12 {
        padding: 0px;
    }

    div#sponsortiers {
        overflow-y: scroll;
        max-height: calc(100vh - 100px);
        border: 1px rgba(180, 180, 180, 0.25) solid;
        padding: 20px;
    }

    div#showresult {
        margin-top: 50px;
    }

    div#tiles .card:first-child {
        margin-left:0px;
    }

    div#team.page {
        background: url(../images/Tile2.jpg) no-repeat center center fixed;
        background-size: cover;
        min-height: 70vh;
    }

    div#about .bkgtxt {
        top: 0px;
        left: 0px;
        width: 105%;
    }

    div#gallery .col-6 {
        height: calc(50vh - 102px);
    }
}
/* Desktops Go Here */
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    div#tiles {
        display: flex;
        flex-flow: column wrap;
        max-height: calc(100vh - 120px);
        align-items: flex-start;
        align-content: flex-start;
        width: inherit;
    }

    div.card {
        margin: 10px;
        flex: 0 4 auto;
        width: 420px;
    }

    div.verti {
        height: calc(100vh - 156px);
        width: 10px;
    }

    div#sponsors div.row {
        height: 100%;
    }

    div#sponsors div.row .col-4 {
        border-right: 2px gray solid;
    }   

    div#team h1 {
        margin: 0;
        color: rgb(6,6,62);
    }
    
    div#team div.card {
        position: absolute;
        bottom: 10vh;
        right: 10vw;
        width: 300px;
    }
    
    div#team div.card-header {
        padding-bottom: 2px;
    }

    div.carpopover {
        width: 300px;
        height: 200px;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
    }
    div.carpopover img {
        width: 100px;
    }

    h3.popover-header {
        font-size: 2em;
    }
    
    div.carpopover div.popovercontent {
        width: 100%;
    }
    div.carpopover div.popovercontent p:first-of-type{
        text-align: center;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1.1em;
        margin-bottom: 10px;
    }
    div.carpopover div.popovercontent p:nth-of-type(2){
        margin: 0 10px;
    }
    
    div.carpart {
        position: absolute;
        min-height: 30px;
        min-width: 30px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px white solid;
    }

    div#sponsortiers {
        overflow-y: scroll;
        max-height: calc(100vh - 156px);
        border-left: 1px rgba(180, 180, 180, 0.5) solid;
    }

    div#sponsortiers div.sponsortier {
        display: flex;
        flex-flow: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }

    div.sponsortier > img {
        max-width: 30%;
        margin: 10px;
    }

    div.sponsortier h3 {
        width: 100%;
    }
    
    div#accordion {
        max-width: 500px;
    }

    div#showresult img {
        width: 75%;
    }

    div#about .bkgtxt {
        top: 0px;
        left: 0px;
        width: 105%;
    }

    div.modal-body {
        padding: 50px;
    }
    
    div.modal-body p{
        line-height: 1.5;
    }
    div#gallery .col-6 {
        height: calc(100vh - 204px);
    }
}
.vision{
    position: absolute; 
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 400px;
    margin-top: 5vh;
    flex-direction: row;
}
.vision img {
	-webkit-filter: blur(0);
	filter: blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    display: block;
}
.vision:hover img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
    border-radius: 2vh;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: auto;
  height: 100%;
  width: 70%; 
  opacity: 0;
  transition: .5s ease;
  /* background-color: rgba(6, 6, 62, 0.164); */
}

.vision:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
  background-color: rgba(6, 6, 62, 0.446);
  border-radius: 2vh;
}

@media (max-width: 500px) {
    .cart {
        display: none;
        position: relative;
    }
    .vit{
        display: none;
        position: relative;
    }
    .vision{
        width: 100%;
    }
    .fteam{
        width: 100%;
    }
    .navbar-brand{
        display: none;
    }
}

.fteam{
    display: flex;
    justify-content: center;
    left: auto;
    right: auto;
    width: 100%;
    height: 400px;
    margin-top: 5vh;
    flex-wrap: nowrap;
    flex-direction: row;
}
.fteam img {
	-webkit-filter: blur(0);
	filter: blur(2px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    display: block;
}
.fteam:hover img {
	-webkit-filter: blur(3px);
	filter: blur(0);
    border-radius: 1vh;
}
.overlay {
  left: auto;
  right: auto;
  height: 100%;
  width: 70%; 
  opacity: 0;
  transition: .5s ease;
  /* background-color: rgba(6, 6, 62, 0.164); */
}

.fteam:hover .overlay {
  opacity: 1;
}